div.inp {
  background-color: #749b8c;
}
input {
  background-color: #749b8c;
  outline: none;
  border: 0;
}
.yellow {
  color: #f8b810;
}
button {
  background-color: #f8b810;
  color: white;
  outline: none;
  border: 0;
}
i {
  cursor: pointer;
  color: #3b5d50 !important;
}
