<div
  class="d-flex justify-content-center justify-content-md-around align-items-center h-100"
>
  <img
    src="../../../assets/images/reset.svg"
    class="col-4 d-none d-md-inline-block"
    alt=""
  />
  <form
    [formGroup]="resetFormGroup"
    class="d-flex flex-column col-11 col-sm-7 col-md-5 gap-2 p-3 py-6 text-left p-sm-5 rounded"
    style="background-color: #3b5d50"
  >
    <div>
      <label for="password" class="yellow mb-1">{{
        "password" | translate
      }}</label>
      <div class="rounded p-2 inp">
        <input
          #password
          type="{{ showPass ? 'text' : 'password' }}"
          formControlName="password"
          name="password"
          id="password"
          title="password"
          placeholder="{{ 'password' | translate }}"
          [(ngModel)]="userData.password"
          class="text-white col-11"
        />
        <i
          class="fa-regular text-white"
          [ngClass]="{ 'fa-eye-slash': !showPass, 'fa-eye': showPass }"
          (click)="togglePass()"
        ></i>
      </div>
      <div
        class="error"
        *ngIf="
          getFormControl('password').touched &&
          getFormControl('password').errors
        "
      >
        <p
          class="mb-0 text-danger"
          *ngIf="getFormControl('password').errors['required']"
        >
          {{ "password error" | translate }}
        </p>
      </div>
    </div>
    <div>
      <label for="confirmPassword" class="yellow mb-1">{{
        "confirmPass" | translate
      }}</label>
      <div class="rounded p-2 inp">
        <input
          #confirmPassword
          type="{{ showConfirmPass ? 'text' : 'password' }}"
          formControlName="confirmPassword"
          name="confirmPassword"
          id="confirmPassword"
          title="confirmPassword"
          placeholder="{{ 'confirmPass' | translate }}"
          class="text-white col-11"
        />
        <i
          class="fa-regular text-white"
          [ngClass]="{
            'fa-eye-slash': !showConfirmPass,
            'fa-eye': showConfirmPass
          }"
          (click)="toggleConfirmPass()"
        ></i>
      </div>
      <div
        class="error"
        *ngIf="
          getFormControl('confirmPassword').touched &&
          getFormControl('confirmPassword').errors
        "
      >
        <p
          class="mb-0 text-danger"
          *ngIf="getFormControl('confirmPassword').errors['required']"
        >
          {{ "Write password again" | translate }}
        </p>
      </div>
    </div>
    <div
      class="error"
      *ngIf="
        getFormControl('password').value !==
        getFormControl('confirmPassword').value
      "
    >
      <p class="mb-0 text-danger">
        {{ "Password inputs don't match" | translate }}
      </p>
    </div>
    <button
      type="submit"
      class="rounded py-2 px-4 mt-3"
      (click)="reset()"
      [disabled]="!resetFormGroup.valid || !checkMatchPass()"
    >
      {{ "Change" | translate }}
    </button>
  </form>
</div>
