.form-container {
  background-color: #3b5d50;
  width: 90%;
  margin: 0px auto;
  padding: 50px 50px;
  color: white;
  border-radius: 0 0 10px 10px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form label {
  flex-basis: 100%;
  color: white;
  font-size: 20px;
}

form input,
form select {
  width: calc(50% - 5px);
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 10px;
}

form button {
  width: calc(50% - 5px);
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}
.btn1 {
  border: 1px solid #ffff;
  background-color: #3b5d50;
  color: #ffff;
}
.btn2 {
  border: 1px solid #ffff;
  background-color: #3b5d50;
  color: #ffff;
}
form button:hover {
  background-color: #f9bf29;
  color: white;
}

@media screen and (max-width: 600px) {
  form input,
  form select {
    width: 100%;
  }
  .form-container {
    margin: 20px;
  }
}
