<div class=" container d-flex  me-5">
  <div class="form-container pt-5 d-flex justify-center align-items-center">
    <form [formGroup]="Form" class="pt-5">
      <label for="productName ">Product Details:</label>
      <input type="text" placeholder="nameEn" [(ngModel)]="formBody.name_en" id="name_ar" formControlName="nameEn"
        required />
      <input type="text" [(ngModel)]="formBody.name_ar" placeholder="nameAr" id="name_en" formControlName="nameAr"
        required />

      <input type="text" [(ngModel)]="formBody.countInStock" placeholder="countInStock" id="countInStock"
        formControlName="countInStock" required />
      <input type="text" [(ngModel)]="formBody.brand_ar" placeholder="brandAr" id="brandAr" formControlName="brandAr"
        required />
      <input type="text" [(ngModel)]="formBody.brand_en" placeholder="brandEn" id="brandEn" formControlName="brandEn"
        required />
      <input type="text" [(ngModel)]="formBody.description_en" placeholder="descEn" id="descEn" formControlName="descEn"
        required />
      <input type="text" [(ngModel)]="formBody.description_ar" placeholder="descAr" id="descAr" formControlName="descAr"
        required />
      <input type="text" [(ngModel)]="formBody.isFeatured" placeholder="isFeatured" id="isFeatured"
        formControlName="isFeatured" required />
        <input type="file" multiple placeholder="image" id="image" formControlName="images" required (change)="handleChange($event)"/>
      <input type="text" [(ngModel)]="formBody.price" placeholder="price" id="price" formControlName="price" required />

      <select id="category" formControlName="category">
        <option value="660049f7b036d9330248b761">Bed Room</option>
        <option value="66004a44b036d9330248b764">Dining Rooms</option>
        <option value="66004b0b59b7f00817888c19">
          SIDEBOARDS, CONSOLES & CABINETS
        </option>
        <option value="66004b0b59b7f00817888c19">Sofa set</option>
      </select>

      <button type="submit" *ngIf="!editMode" (click)="addProduct()">
        Add
      </button>
      <button type="submit" *ngIf="editMode" (click)="updateProduct()">
        Update
      </button>
    </form>
  </div>
</div>