.container{
  padding: 0 !important;
}
.fav div.prd {
  cursor: pointer;
  padding: 20px;
  background-color: #749b8c;
}
.fav form{
  background-color: #3b5d50
}
i{
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}
i:hover{
    cursor: pointer;
    color: #f8b810 !important;
}
@media (max-width: 576px) {
  .container{
    position: relative !important;
    width: 80%;
    margin: auto;
    gap: 0;
  }
}
