.table {
  width: calc(100% - 200px); /* Adjust the width based on your sidebar width */
  margin-left: 200px; /* Set to the same width as the sidebar */
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 12px; /* Adjust the padding for better spacing */
  text-align: left;
}

.table th {
  background-color: #3b5d50;
  color: white;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Responsive styles */
@media screen and (max-width: 700px) {
  .table {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .table th,
  .table td {
    text-align: center;
  }
}
@media (max-width: 700px) {
  .parent {
    margin: 50px auto;
    width: 90%;
    height: 500px;
    display: block;
    overflow: auto;
  }
}
