<!-- <div style="display: flex; justify-content: center; align-items: center; "> -->
<div class=" row" style="display: flex; justify-content: flex-end;">
    <div class="col-5" *ngFor="let item of categories; let i = index">
        <div class="card">

            <img [src]="item.icon" />
            <div>
                <div style="position: absolute; top: 20px; right: 14px;display: flex; gap: 15px;">
                    <p (click)="edit(item._id)" style="cursor: pointer;">
                        <mat-icon>edit</mat-icon>
                    </p>
                    <p (click)="delete(item._id)" style="cursor: pointer;">
                        <mat-icon style=" color: red;">delete</mat-icon>
                    </p>
                </div>
                <p>Id : </p>{{item._id}} <br />
                <p>Name : </p>{{item.name_en}}
            </div>
        </div>

    </div>
</div>