/* Table styling */
.table {
  width: calc(100% - 200px); /* Adjust the width based on your sidebar width */
  margin-left: 200px; /* Set to the same width as the sidebar */
  border-collapse: collapse;
  color: #3b5d50;
}

.table th,
.table td {
  border: 1px 0 solid #ddd;
  padding: 7px 3px; /* Increase padding for better spacing */
  text-align: left;
  vertical-align: middle;
}

.table th {
  background-color: #3b5d50;
  color: white;
  font-weight: bold; /* Make header text bold */
  border: 0;
  padding: 12px;
}
.yellow,
i:hover {
  color: #f8b810;
}

.table tbody tr:hover {
  background-color: #f9f9f9 !important;
}
/* Input styling within the table */
.table input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  outline: none;
  border: 1px solid #3b5d50;
  color: white;
}
.table input:focus {
  outline: none;
}

/* Button styling within the table */
.table button {
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.table button.btn-red {
  background-color: #e55e69;
  color: white;
}
.edit button:hover {
  background-color: #3b5d50;
}
.delete button:hover {
  background-color: #dc3545;
}
i {
  cursor: pointer;
}
/* Responsive styles */
@media screen and (max-width: 700px) {
  .table {
    width: 100%;
    margin-left: 0;
  }
  .parent {
    margin: 50px auto;
    width: 90%;
    height: 500px;
    display: block;
    overflow: auto;
  }
}

@media screen and (max-width: 400px) {
  .table th,
  .table td {
    text-align: center;
  }
}

.center {
  text-align: center !important;
}
