.plant-img {
  width: 400px;
  height: 450px;
  margin: 2rem 0;
  background-image: url("https://images.pexels.com/photos/3771691/pexels-photo-3771691.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: left;
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #3b5d50;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 500px;
  padding: 20px;
  border: 1px solid #3b5d50;
  background-color: #eff2f1;
  border-radius: 5px;
}

.register-form input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #3b5d50;
  border-radius: 3px;
}

.account {
  margin-top: 5px;
  text-align: center;
}

a {
  color: #3b5d50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.error-message {
  color: red;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .register-form {
    width: 100%;
    height: auto;
  }

  .plant-img {
    display: none;
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "poppins", sans-serif;
  background: radial-gradient(
    circle,
    rgba(61, 99, 218, 1) 0%,
    rgba(214, 84, 207, 1) 0%,
    rgba(151, 156, 203, 1) 100%
  );
  margin: auto;
}
.container1 {
  width: 65% !important;
}
.container {
  width: 400px;
  height: 450px;
  margin: 2rem 0;
  background-color: var(--white-color);
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
}
h3 {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--dark-color);
  font-size: 2rem;
}
.container form {
  width: 340px;
  position: absolute;
  top: 134px;
  left: 20px;
  font-family: inherit;
  transition: 0.5s ease-in;
}
form input {
  width: 100%;
  padding: 10px 5px;
  margin: 5px 0;
  border: 1px solid var(--light-gray-color);
  border-radius: 5px;
  background: transparent;
  font-family: inherit;
}
form input:focus {
  outline: none;
  border: 1px solid var(--dark-color);
}
.btn_box {
  width: 100%;
  margin: 30px auto;
  text-align: center;
}

button:hover {
  background-color: #3b5d50 !important;
  color: white !important;
}

form button {
  width: 110px;
  height: 35px;
  margin: 0 10px;
  background-color: var(--line-border-fill);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-family: inherit;
  border-radius: 5px;
  color: var(--light-gray-color);
}
form button:active {
  transform: scale(0.98);
}
#form2 {
  left: 450px;
}
#form3 {
  left: 450px;
}
.progress_container {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
  position: relative;
}
.progress_container::before {
  content: "";
  background-color: var(--light-gray-color);
  position: absolute;
  top: 0%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: 1;
}
.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 0%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: 1;
  transition: 0.4s ease-in;
}
.circle {
  position: relative;
  background-color: var(--light-gray-color);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
  transition: 0.4s ease;

  border: 1px solid #3b5d50;
}

.circ {
  position: relative;
  background-color: var(--light-gray-color);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #3b5d50;
  z-index: 1;
  transition: 0.4s ease;
}

.circle.active::before {
  content: "";
  position: absolute;

  top: 30%;
  left: -125px;
  width: 120px;
  height: 10px;
  background-color: #3b5d50;

  z-index: -1;
}

.active {
  padding: 15px;
  border-color: var(--line-border-empty);
  color: white;
  background-color: #3b5d50; /* This sets the background color of the active circle */
}

.circle.no-before::before {
  display: none; /* Hide the ::before pseudo-element for circles with the "no-before" class */
}


button[disabled]:hover{
 background-color: transparent !important;
 color: black !important;
}


