.container {
  background-color: #3b5d50;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  max-height: 100vh;
  width: 65% !important;
}

h1 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #3b5d50;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 435px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
}

.login-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #3b5d50;
  border-radius: 3px;
}

.plant-img {
  width: 400px;
  height: 435px;
  background-image: url("https://images.pexels.com/photos/7101236/pexels-photo-7101236.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-size: cover;
  background-position: right;
  border-radius: 5px;
}
.account {
  margin-top: 20px;
  text-align: center;
}
input:focus {
  outline: none;
}
a {
  color: #3b5d50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.error-message {
  color: red;
  margin-top: -3px;
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .login-form {
    width: 100%; /* Set width to 100% for mobile */
    height: auto;
  }

  .plant-img {
    display: none; /* Hide the image on mobile screens */
  }
}
