.pa {
  font-family: emoji;
  margin-top: 113px;
}

.price {
  font-weight: 700;
  font-size: 1.5em;
  color: #3b5d50;
}

.delete-icon {
  color: red;
}

.discription {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5em;
  border: 1px solid #3b5d50;
}

.name {
  font-size: 2em;
  font-weight: bold;
  width: 70%;
}

.add-btn {
  width: 50% !important;
  border: none;
  background-color: #3b5d50;
  color: aliceblue;
  padding: 15px;
}

.add-btn:hover {
  background-color: #3b5d50a9;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity button {
  border: none;
  background-color: #3b5d50;
  border-radius: 50%;
  padding: 5px 14px;
  color: aliceblue;
}

.quantity button:hover {
  cursor: pointer;
  background-color: #3b5d50a9;
  transition: all ease-in-out 0.1s;
}

.quantity input {
  width: 50px;
  text-align: center;
  padding: 5px 0;
}

.selected {
  color: gold;
}

.favorite {
  color: #fe302f;
}

.fav {
  cursor: pointer;
  border: 1px solid #3b5d50;
}

.disabled-input {
  opacity: 0.5;
  pointer-events: none;
}

.section2 {
  width: 80%;
  margin: 50px auto;
}

.section2 ul {
  display: flex;
  justify-content: center;
}

.profileIcon {
  width: 150px;
}

.review {
  width: 87%;
  margin: 0 auto;
  text-align: center;
  background-color: #3b5d50;
  color: whitesmoke;
  padding: 10px 64px;
  border-radius: 12px;
}

li .active {
  background-color: #3b5d50;
  color: whitesmoke;
}

.description {
  padding: 45px;
}

.description p {
  padding: 0 !important;
  margin: 0 !important;
}

#title {
  border: none;
  outline: none;
  padding: 6px 10px;
  width: 50%;
  border-radius: 8px;
  margin: 20px 20px 0 20px;
  height: 50px;
}

.submitReview {
  width: 27%;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  padding: 8px 0;
  font-size: large;
}

.submitReview:hover {
  background-color: whitesmoke;
  color: #3b5d50;
}

.name {
  display: contents !important;
}

/* Slider css */

body {
  background-color: #ecedee;
}

.card {
  border: none;
  overflow: hidden;
}

.thumbnail_images ul {
  list-style: none;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.thumbnail_images ul li {
  margin: 5px;
  padding: 10px;
  border: 2px solid #eee;
  cursor: pointer;
  transition: all 0.5s;
}

.thumbnail_images ul li:hover {
  border: 2px solid #000;
}

.main_image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eee;

  width: 100%;
  overflow: hidden;
}

.heart {
  height: 29px;
  width: 29px;
  background-color: #eaeaea;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content p {
  font-size: 12px;
}

.ratings span {
  font-size: 14px;
  margin-left: 12px;
}

.colors {
  margin-top: 5px;
}

.colors ul {
  list-style: none;
  display: flex;
  padding-left: 0px;
}

.colors ul li {
  height: 20px;
  width: 20px;
  display: flex;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.colors ul li:nth-child(1) {
  background-color: #6c704d;
}

.colors ul li:nth-child(2) {
  background-color: #96918b;
}

.colors ul li:nth-child(3) {
  background-color: #68778e;
}

.colors ul li:nth-child(4) {
  background-color: #263f55;
}

.colors ul li:nth-child(5) {
  background-color: black;
}

.right-side {
  position: relative;
}

.search-option {
  position: absolute;
  background-color: #000;
  overflow: hidden;
  align-items: center;
  color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 49% 51% 50% 50% / 68% 69% 31% 32%;
  left: 30%;
  bottom: -250px;
  transition: all 0.5s;
  cursor: pointer;
}

.search-option .first-search {
  position: absolute;
  top: 20px;
  left: 90px;
  font-size: 20px;
  opacity: 1000;
}

.search-option .inputs {
  opacity: 0;
  transition: all 0.5s ease;
  transition-delay: 0.5s;
  position: relative;
}

.search-option .inputs input {
  position: absolute;
  top: 200px;
  left: 30px;
  padding-left: 20px;
  background-color: transparent;
  width: 300px;
  border: none;
  color: #fff;
  border-bottom: 1px solid #eee;
  transition: all 0.5s;
  z-index: 10;
}

.search-option .inputs input:focus {
  box-shadow: none;
  outline: none;
  z-index: 10;
}

.search-option:hover {
  border-radius: 0px;
  width: 100%;
  left: 0px;
}

.search-option:hover .inputs {
  opacity: 1;
}

.search-option:hover .first-search {
  left: 27px;
  top: 25px;
  font-size: 15px;
}

.search-option:hover .inputs input {
  top: 20px;
}

.search-option .share {
  position: absolute;
  right: 20px;
  top: 22px;
}

.buttons .btn {
  height: 50px;
  width: 150px;
  border-radius: 0px !important;
}

#main_product_image {
  width: 500px !important;
  height: 500px !important;
}

@media only screen and (max-width: 600px) {
  #main_product_image {
    width: 100% !important;
  }
  .section2 {
    width: 100%;
  }
  .review {
    width: 100%;
  }
  .thumbnail_images ul {
    flex-wrap: wrap;
  }
}
