body {
  font-family: "Poppins", sans-serif;
  color: #444444;
}

.section-products .single-product {
  margin-bottom: 26px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.section-products .single-product:hover {
  transform: scale(1.03);
  transition: all ease-in-out 0.5s;
}

.section-products .single-product .part-1 {
  position: relative;
  height: 290px;
  max-height: 290px;
  margin-bottom: 20px;
  overflow: hidden;
}
.section-products #product-1 .part-1 img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.section-products .single-product .part-1::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s;
}

.section-products .single-product .part-1 ul {
  position: absolute;
  bottom: -41px;
  left: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
  bottom: 30px;
  opacity: 1;
}

.section-products .single-product .part-1 ul li {
  display: flex;
  flex-direction: row;
  margin-right: 4px;
}

.section-products .single-product .part-1 ul li {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #444444;
  text-align: center;
  box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
  transition: color 0.2s;
}
.section-products .single-product .part-1 ul .favorite {
  color: #fe302f;
}
.section-products .single-product .part-1 ul li:hover {
  color: #fe302f;
  cursor: pointer;
}
.section-products .single-product .part-1 .offer {
  background-color: #fe302f;
  position: absolute;
  top: 0;
  padding: 5px 20px;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: bold;
}
.section-products .single-product .part-2 {
  padding: 0 20px 20px;
  height: 100px;
}
.section-products .single-product .part-2 .product-title {
  font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
  display: inline-block;
  font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
  position: relative;
  padding: 0 7px;
  margin-right: 2px;
  opacity: 0.6;
  text-decoration: line-through;
}

.section-products .single-product .part-2 .product-old-price::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  height: 1px;
  background-color: #444444;
  transform: translateY(-50%);
}
.section-products .single-product .part-2 .product-price {
  font-weight: bolder;
}
.view {
  width: fit-content;
  background-color: #3b5d50;
  display: flex;
  justify-content: center;
  border: none;
  color: white;
  padding: 10px 0;
  margin: 0 auto;
  width: 100%;
}
