<section class="section-products">
  <div id="product-1" class="single-product">
    <div class="part-1">
      <ul>
        <li (click)="getProduct(product._id)">
          <mat-icon>visibility</mat-icon>
        </li>
        <li [class.favorite]="productFav">
          <mat-icon
            class="heart-icon"
            [class.filled]="productFav"
            (click)="toggleFavorite()"
            >favorite</mat-icon
          >
        </li>
      </ul>
      <img src="{{ product?.images[0] }}" alt="Product Image" />
      <ng-container *ngIf="product.isFeatured == 'true'">
        <div class="offer">50% off</div>
      </ng-container>
    </div>
    <div class="part-2" [ngClass]="{ 'text-end': lang == 'ar' }">
      <h3 class="product-title">
        {{ lang == "ar" ? product.name_ar : product.name_en }}
      </h3>
      <ng-container *ngIf="product.isFeatured">
        <h4 class="product-old-price">${{ product.price * 2 }}</h4>
      </ng-container>
      <h4 class="product-price">${{ product.price }}</h4>
    </div>
    <button class="view" (click)="AddToCart()">
      {{ added ? "Added successfully &check;" : ("add to cart" | translate) }}
      <span *ngIf="!added">🛒</span>
    </button>
  </div>
</section>
