.order{
  cursor: pointer;
  padding: 20px ;
  background-color: #749b8c;
}
span{
  color: #f8b810;
}
.container{
  padding: 0 !important;
}
@media (max-width: 576px) {
  .container{
    position: relative !important;
    width: 80%;
    margin: auto;
    gap: 0;
  }
}