<div
  class="d-flex justify-content-center justify-content-md-around align-items-center h-100"
  *ngIf="!sent"
>
  <img
    src="../../../assets/images/forgot.svg"
    class="col-4 d-none d-md-inline-block"
    alt=""
  />
  <!-- <div>
    <h3>Forgot Your Password?</h3> -->

  <form
    [formGroup]="passwordFormGroup"
    class="d-flex flex-column col-11 col-sm-7 col-md-4 gap-2 p-3 py-6 text-left p-sm-5 rounded"
    style="background-color: #3b5d50"
  >
    <div class="text-left">
      <label for="email" class="yellow mb-1">{{ "email" | translate }}</label>
      <div class="rounded p-2 inp">
        <input
          #userEmail
          type="text"
          formControlName="email"
          name="email"
          id="email"
          title="email"
          placeholder="{{ 'email' | translate }}"
          [(ngModel)]="userData.email"
          class="text-white col-11"
        />
      </div>
      <div
        class="error"
        *ngIf="
          getFormControl('email').touched && getFormControl('email').errors
        "
      >
        <p
          class="mb-0 text-danger"
          *ngIf="getFormControl('email').errors['required']"
        >
          {{ "email error" | translate }}
        </p>
        <p
          class="mb-0 text-danger"
          *ngIf="getFormControl('email').errors['pattern']"
        >
          {{ "email invalid" | translate }}
        </p>
      </div>
    </div>
    <button
      type="submit"
      class="rounded py-2 px-4 mt-3"
      (click)="sendEmail()"
      [disabled]="!passwordFormGroup.valid"
    >
      {{ "rest pass" | translate }}
    </button>
  </form>
</div>
<!-- </div> -->
<div
  *ngIf="sent"
  class="d-flex flex-column justify-content-center align-items-center h-100 gap-4 gap-md-0"
>
  <h4>{{ "check email" | translate }}</h4>
  <img src="../../../assets/images/email.svg" class="col-6 col-md-4" alt="" />
</div>
