<p>add works!</p>
<!-- product-form.component.html -->
<form [formGroup]="productForm" (ngSubmit)="addProduct()">
    <label for="productName">Product Name:</label>
    <input type="text" id="productName" formControlName="productName" required>

    <select  id="category" formControlName="category">
      <option value="65ccf8f45b64247d1bc64605">Computers</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
    

    <button type="submit">Submit</button>
  </form>
  
