<div class=" container d-flex me-5">
  <div class="container my-5 pa">
    <div class=" parent justify-content-md-center">
      <div id="carouselExample" class="carousel slide col-12 col-xl">
        <div class="col-md-12 border-end">
          <div class="d-flex flex-column justify-content-center">
            <div class="main_image"> <img src="{{imgSrc}}" id="main_product_image"> </div>
            <div class="thumbnail_images">
              <ul id="thumbnail" class="d-flex gap-3">
                <li *ngFor="let item of product.images; let i = index"><img (click)="imgClick(item)" width="70"
                    src="{{item}}">
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6">
        <table class="table mt-3 mb-2">
          <tr>
            <th class="py-2">Name in English:</th>
            <td class="py-2">{{product.name_en}}</td>
          </tr>
          <tr>
            <th class="py-2">Name in Arabic:</th>
            <td class="py-2 text-end">{{product.name_ar}}</td>
          </tr>
          <tr>
            <th class="py-2">Price:</th>
            <td class="py-2">${{ product.price }}</td>
          </tr>
          <tr>
            <th class="py-2">Count in stock:</th>
            <td class="py-2">{{ product.countInStock }}</td>
          </tr>
          <tr>
            <th class="py-2">Category:</th>
            <td class="py-2">{{ product.categories.name_en }}</td>
          </tr>
          <tr>
            <th class="py-2">Brand in English</th>
            <td class="py-2">{{product.brand_en}}</td>
          </tr>
          <tr>
            <th class="py-2">Brand in Arabic</th>
            <td class="py-2 text-end">{{product.brand_ar}}</td>
          </tr>
          <tr>
            <th class="py-2">Rating:</th>
            <td class="py-2">{{ product.rating }}</td>
          </tr>
        </table>
        <div class="d-flex justify-content-start align-items-center my-3">
          <mat-icon [ngClass]="{ selected: product?.rating >= 1 }">star</mat-icon>
          <mat-icon [ngClass]="{ selected: product?.rating >= 2 }">star</mat-icon>
          <mat-icon [ngClass]="{ selected: product?.rating >= 3 }">star</mat-icon>
          <mat-icon [ngClass]="{ selected: product?.rating >= 4 }">star</mat-icon>
          <mat-icon [ngClass]="{ selected: product?.rating >= 5 }">star</mat-icon>
        </div>
        <div>
          <p class="d-inline-flex gap-1">
            <button class="btn discription" type="button" data-bs-toggle="collapse" data-bs-target="#en"
              aria-expanded="true" aria-controls="en">
              English Description
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
          </p>
          <div class="collapse pb-5 show" id="en">
            <div class="card card-body">
              {{
              product.description_en
              }}
            </div>
          </div>
        </div>
        <div>
          <p class="d-inline-flex gap-1">
            <button class="btn discription" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
              aria-expanded="true" aria-controls="collapseExample">
              Arabic Description
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
          </p>
          <div class="collapse pb-5 show" id="collapseExample">
            <div class="card card-body">
              {{
              product.description_ar
              }}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>