.container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; /* Add this line */
  }
  
  /* Your existing CSS styles */
  
  div div div div {
    width: 30% !important;
    padding: 20px;

    flex-grow: 1;
    align-items: start;
    padding: 5px !important;
    margin: 5px !important;
    background-color: #749b8c;
    color: black;
  
    /* height: 100% !important; */
    /* border: 1px solid black; */
  }
  div div div{
    margin: 5px;
  }
  
  div {
    display: flex;
    flex-grow: 1;
    padding: 0 !important;
    /* height: 100% !important; */
  }
  
  h2 {
    line-height: 10% !important;
  }
  
  .startDiv {
    margin-left: 0 !important;
    text-align: start;
    height: 100% !important;
    justify-content: start !important;
  }
  
  .endDiv {
    margin-left: 0 !important;
    text-align: end;
    height: 100% !important;
    justify-content: end !important;
  }
  

  