<div  [ngClass]="{ '': !darkMode, 'dark': darkMode }">
<div class="hero">
  <div class="container ">
    <h3></h3>
    <h1>checkout</h1>
  </div>
</div>

<div class="container w-50  m-auto mt-5">
  <div class="row d-flex">
    <form [formGroup]="editFormGroup"
      class="d-flex flex-column col-7 gap-2 p-3 py-5 text-left p-sm-5  position-relative"
      style="background-color: #3b5d50">
      <div>
        <label for="name" class="yellow text-white mb-1">Name</label>
        <div class="rounded p-2 inp">

          <input #name type="text" formControlName="name" name="name" value="{{userData.name}}" id="name"
            title="name" placeholder="name" class="text-white col-11" />

        </div>
        <label for="email" class="yellow text-white mb-1">Email</label>
        <div class="rounded p-2 inp">
          <input #userEmail type="text" formControlName="email" name="email" id="email" title="email"
            value="{{userData.email}}" placeholder="email" class="text-white col-11" />
        </div>

      </div>



      <div>
        <label for="address" class="yellow text-white mb-1">address</label>
        <div class="rounded p-2 inp">
          <input #address type="text" formControlName="city" name="city" value="{{userData.address}}" id="city"
            title="address" placeholder="address" class="text-white col-11" />

        </div>
      </div>


      <div>
        <label for="phone" class="yellow text-white mb-1">Phone</label>
        <div class="rounded p-2 inp">
          <input #userPhone type="text" formControlName="phone" name="phone" id="phone" title="phone"
            placeholder="phone" class="text-white col-11" />

        </div>

      </div>


      <div>
        <label for="address" class="yellow mb-1 text-white">City</label>
        <div class="rounded p-2 inp">
          <input #address type="text" formControlName="city" name="city" id="city" title="address" placeholder="address"
            class="text-white col-11" />

        </div>
      </div>

      <div class="mt-5">
        <input class="text-black" type="radio" formControlName="paymentMethod" id="html" 
          value="CASH">
        <label class="h5 text-white px-3" for="html">Cash on delivery</label><br>
        <input type="radio" id="css" formControlName="paymentMethod"  value="CREDIT">
        <label class="h5 px-3 text-white" for="css">credit/debit Card</label><br>
      </div>




    </form>

    <div class=" col-5 text-white h-auto" style="background-color: #eff2f1 !important;">

      <table class="table  mb-5">
        <thead>
          <tr>
            <th class="product-name">Product</th>
            <th class="product-price">Price</th>
            <th class=" product-quantity">Quantity</th>
            <th class="product-total">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cart; let i = index">
            <td class="product-name">
              <p class="product_name text-black">{{item.product_id.name_en.split(' ').slice(0, 2).join(' ') }}</p>
            </td>
            <td>${{item.product_id.price}}</td>
            <td>
              <div class="input-group  d-flex align-items-center quantity-container" style="max-width: 120px;">
              </div>
              <label class=" text-center"> {{item.quantity}}</label>
              <div class="input-group-append">
              </div>

            </td>
            <td>${{item.product_id.price*item.quantity}}</td>
          </tr>

        </tbody>
      </table>





      <div class="col-md-7 mt-5 pt-5 align-self-end justify-content-end h-auto">
        <div class="row">
          <div class="col-md-12 text-right border-bottom mb-3">
            <h3 class="text-black h5 text-uppercase product_name">Cart Totals</h3>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-6">
            <span class="text-black">Subtotal</span>
          </div>
          <div class="col-md-6 text-right">
            <strong class="text-black">${{total}}</strong>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-6">
            <span class="text-black">Total</span>
          </div>
          <div class="col-md-6 text-right">
            <strong class="text-black">${{total+5}}</strong>
          </div>
        </div>


      </div>

      <button type="submit" style="background-color: #3b5d50;color: white;" class=" w-100 m-auto rounded py-2 px-4"
        (click)="click()">
        Checkout
      </button>
    </div>
  </div>
</div>
</div>