
.cont{
  width: 100%;
  height: 100vh;
}
.container div.profile {
  background-color: #3b5d50; 
}
a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 0.375rem;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
}
a.link {
  border: 1px solid #f8b810;
}
.active {
  background-color: #f8b810;
}
h2 {
  color: #3b5d50;
}
img {
  border: 7px solid #3b5d50;
}
img,
.img {
  position: absolute;
  top: -90px;
  left: 50%;
  width: 180px;
  height: 180px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
h3 {
  text-transform: capitalize;
  margin-top: 90px;
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
  }
  .container > div {
    position: relative !important;
    width: 80%;
    margin: 50px auto;
    margin-top: 100px;
  }
  .container .btns {
    flex-direction: row !important;
    flex-wrap: wrap;
    gap: 1;
    justify-content: center !important;
  }
  h2 {
    text-align: center !important;
  }
}
.container .btns a {
  min-width: 103px;
}
.hero {
  background-color: #3b5d50;
  padding: 3.5em;
  padding-top: 150px;
  color: white;
}
.dark {
  background-color: #161b22 !important;
  color: white !important;
  .product_name{
    color: #000000 !important;
  }
  h2 {
    color: white;
  }
  p {
    color: white !important;
  }
  h3 {
    color: white !important;
  }
  a {
    color: white;
  }
  button {
    background-color: #3b5d50;
  }
  .card{
    background-color: #161b22;
  }
  footer {
    background-color: #161b22 !important;
    color: white !important;
  }
  span {
    color: #3b5d50;
  }
}
