.container div {
  background-color: #3b5d50;
}
a {
  border: 1px solid #f8b810;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 0.375rem;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
}
.active {
  background-color: #f8b810;
}
img {
  border: 7px solid #3b5d50;
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
h3 {
  text-transform: capitalize;
}
