
.container div.profile {
  background-color: #3b5d50;
}
a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 0.375rem;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
}
.profile_nav{
  margin-top: 250px;
}
a.link{
  border: 1px solid #f8b810;
}
.active {
  background-color: #f8b810;
}
h2 {
  color: #3b5d50;
}
img{
  border: 7px solid #3b5d50;
}
img, .img{
  position: absolute;
  top: -90px;
  left: 50%;
  width: 180px;
  height: 180px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
h3 {
  text-transform: capitalize;
  margin-top: 90px;
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
  }
  .container > div {
    position: relative !important;
    width: 80%;
    margin: 50px auto;
    margin-top: 100px;
   
  }
  .container .btns {
    flex-direction: row !important;
    flex-wrap: wrap;
    gap: 1;
    justify-content: center !important;
  }
  h2{
    text-align: center !important;
  }
}
.container .btns a {
  min-width: 103px;
}



.hero {
  background: #3b5d50;
  padding: calc(4rem - 30px) 0 0rem 0;
  padding-top: 150px !important;
 
}
@media (min-width: 768px) {
  .hero {
    padding: calc(4rem - 30px) 0 4rem 0;
  }
}
@media (min-width: 992px) {
  .hero {
    padding: calc(8rem - 30px) 0 8rem 0;
  }
}
.hero .intro-excerpt {
  position: relative;
  z-index: 4;
}
@media (min-width: 992px) {
  .hero .intro-excerpt {
    max-width: 450px;
  }
}
.hero h1 {
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
}
@media (min-width: 1400px) {
  .hero h1 {
    font-size: 54px;
  }
}
.hero p {
  color: rgba(255, 255, 255, 0.5);
  /* margin-botom: 30px; */
}
.hero .hero-img-wrap {
  position: relative;
}
.hero .hero-img-wrap img {
  position: relative;
  top: 0px;
  right: 0px;
  z-index: 2;
  max-width: 780px;
  left: -20px;
}
@media (min-width: 768px) {
  .hero .hero-img-wrap img {
    right: 0px;
    left: -100px;
  }
}
@media (min-width: 992px) {
  .hero .hero-img-wrap img {
    left: 0px;
    top: -80px;
    position: absolute;
    right: -50px;
  }
}
@media (min-width: 1200px) {
  .hero .hero-img-wrap img {
    left: 0px;
    top: -80px;
    right: -100px;
  }
}
.hero .hero-img-wrap:after {
  content: "";
  position: absolute;
  width: 255px;
  height: 217px;
  /* background-image: url("../images/dots-light.svg"); */
  background-size: contain;
  background-repeat: no-repeat;
  right: -100px;
  top: -0px;
}
@media (min-width: 1200px) {
  .hero .hero-img-wrap:after {
    top: -40px;
  }
}


