.pag {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}

.dropbtn {
  padding: 16px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  margin: 30px 60px 0;
  background-color: transparent;
  color: #3b5d50;
}

.dropdown {
  position: relative;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 10px;
  top: 90px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content p:hover {
  background-color: #3b5d50;
  color: #f9f9f9;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.container {
  margin-top: 50px;
}
@media only screen and (max-width: 800px) {
  .dropdown {
    float: none;
  }
}
.mat-mdc-paginator-range-label {
  display: none;
}

.mat-mdc-paginator-container {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  .dropdown-content {
    right: unset;
  }
  .dropbtn {
    margin: 0;
  }
}
